<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="demo-section">
    <p>
      Using a custom class decorator we can preload the <code>ProductDetails</code> page module once this page component gets initialized.
    </p>
    <p>
      <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/details'">Product Details</ion-button>
    </p>
  </section>
</ion-content>
